@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

body {
  font-family: 'Baloo Tammudu 2', sans-serif;
  background-image: linear-gradient(45deg, #e9c46a, #f4a261);
  width: 50%;
  margin: 0 auto;
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}